.section {
  /* height: 100vh; */
  /* margin: 15px 15px; */
  background-size: cover;
  display: grid;
  justify-items: center;
}
.disposition_formulaire {
  /* padding-top: 30px; */
  /* width: 50%; */
  /* padding-bottom: 10px; */
  background-color: rgba(255, 0, 43, 0.452);
  border-radius: 5px;
}

.position_bouton {
  margin-top: 30px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.disposition_titre {
  margin-top: 10px;
  /* margin-bottom: 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
