.section {
  background-image: url(/images/arriere_plan1.jpeg);
  opacity: 0.9;
  background-repeat: repeat !important;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* background-size: 135% !important; */
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.form {
  margin-bottom: 30px;
  background-color: rgba(12, 10, 6, 0.37);
}
