.section {
  background-image: url(images/arriere_plan_inscription.jpeg);
  background-repeat: no-repeat !important;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* background-size: 135% !important; */
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
}
.form {
  background-color: rgba(20, 14, 5, 0.315);
}
