.section {
  background-image: url(images/arriere_plan_inscription.jpeg);
  background-repeat: no-repeat !important;
  height: 100vh;

  background-size: 135% !important;
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
}
/* .form {
  background-color: rgba(199, 119, 15, 0.329);
} */
